@keyframes ting {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.shine-effect {
  overflow: hidden;
  position: relative;
}

.shine-effect .shine-overlay {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 60%,
    transparent 100%
  );
  transform: skewX(-20deg);
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  animation: shine 2s infinite;
}